<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <h3>Edit email</h3>
        <lable>
            Email address:
            <input type="text" name="email" value="{{ email.email }}">
        </lable><br>
        <lable><br>
            Email type:
            <input type="text" name="email_type" value="{{ email.email_type }}">
        </lable><br>
        <input type="submit" value="Submit">
    </form>
    <p><a href="/">Back</a></p>
</body>
</html>
